<footer class="footer">
	<div class="footer-block buttons">
		
	</div>
	<div class="footer-block author">
		<ul>
			<li>
				 
				<a href="https://entuit.co.za">Entuit Software Pty Ltd</a>
			</li>
			<li>
				<a href="mailto:hello@entuit.co.za">get in touch</a>
			</li>
		</ul>
	</div>
</footer>